<div class="ic">
  <section class="ic-wrapper">
    <div class="ic-start">
      <div class="pin pin-top"></div>
      <div class="ic-body"></div>
      <div class="pin pin-bottom"></div>
    </div>
    <div class="ic-end">
      <div class="pin pin-top"></div>
      <div class="ic-body"></div>
      <div class="pin pin-bottom"></div>
    </div>
    <input type="text" class="value">
  </section>
  <span class="label"></span>
</div>

<div class="ic-step">
  <div class="pin pin-top"></div>
  <div class="ic-body"></div>
  <div class="pin pin-bottom"></div>
</div>
