<div class="led">
  <section class="led-wrapper">
    <div class="bulp"></div>
    <div class="bulp-foot"></div>
    <div class="bulp-pins"></div>
  </section>
  <input type="color" />
  <span class="label"></span>
</div>
