<div class="dip-switch">
  <div class="dip-switch-label">On</div>
  <div class="dip-switch-value"></div>
  <div class="dip-switch-chip"></div>
  <ul class="dip-switch-switches">
    <!-- Switches over here -->
  </ul>
</div>

<li class="dip-switch-item">
  <input class="dip-switch-switch" id="dip-2" name="dip-2" type="checkbox" />
  <label for="dip-2"></label>
  <div class="dip-switch-switch-id">1</div>
</li>
