<div class="resistor">
  <section class="resistor-heads">
    <div class="resistor-body">
      <div class="band color-7"></div>
      <div class="band color-6"></div>
      <div class="band color-4"></div>
      <div class="band"></div>
    </div>
  </section>
  <input type="text" class="value">
</div>