:root {
  /* np-switch related vars */
  --background: hsl(0, 0%, 100%);
  --switch-color: 0;
  --switch-saturation: 50%;
  --switch-bg: hsl(var(--switch-color), var(--switch-saturation), 50%);
  --switch-shadow: hsl(var(--switch-color), var(--switch-saturation), 35%);
  --switch-shadow-fine: hsl(var(--switch-color), var(--switch-saturation), 45%);
  --switch-text-color: hsl(0, 0%, 100%);
  --switch-switch-color: hsl(var(--switch-color), 0%, 100%);
  --switch-switch-shadow: hsl(var(--switch-color), 0%, 67%);
  --switch-switch-shadow-fine: hsla(var(--switch-color), 0%, 67%, .45);
}

body {
  background-color: var(--background);
}

